@page
@model TravelCloud.Pages.AboutUsModel
@{
}

<h2 class="text-primary">Know More About Us - SOTC Holidays</h2>
<div class="container">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item">Know More About Us - TRAVELCloud Holidays</li>                
            </ol>
        </nav>
    </div>
</div>

<div class="container">
    <div class="row">        
        <span>
            <img src="~/about-us-new.jpg" />
        </span>
    </div>
</div>

<br />
<div class="container">
<ul class="nav nav-pills mb-3 nav-tabs bg-light" id="pills-tab">
    <li class="nav-item">
        <button class="nav-link active" id="pills-aboutus-tab" data-bs-toggle="pill" data-bs-target="#pills-aboutus" type="button" aria-controls="pills-aboutus" aria-selected="true">About Us</button>
    </li>
    <li class="nav-item">
        <button class="nav-link" id="pills-awards-tab" data-bs-toggle="pill" data-bs-target="#pills-awards" type="button" aria-controls="pills-awards" aria-selected="false">Awards</button>
    </li>
    <li class="nav-item">
        <button class="nav-link" id="pills-ourvision-tab" data-bs-toggle="pill" data-bs-target="#pills-ourvision" type="button" raria-controls="pills-ourvision" aria-selected="false">Our Vision</button>
    </li>
    <li class="nav-item">
        <button class="nav-link" id="pills-manifesto-tab" data-bs-toggle="pill" data-bs-target="#pills-manifesto" type="button" aria-controls="pills-manifesto" aria-selected="false">Manifesto</button>
    </li>
</ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-aboutus" aria-labelledby="pills-aboutus-tab"><p><b>OUR ORGANISATION</b></p>
            <p>TRAVELCloud is a step-down subsidiary of Fairfax Financial Holdings Group; held through its Indian listed subsidiary, Thomas Cook (India) Limited (TCIL). TRAVELCloud India is a leading travel and tourism company 
                active across various travel segments including Leisure Travel, Incentive Travel and Business Travel.
                <br />
                <br />
                SOTC was established in 1949. Since then, it has escorted lakhs of travelers across the globe for more than 70 years to various destinations around the world. It is one of the leaders in segments, namely Escorted Group Tours, Customised Holidays, Holidays of India and Incentive Travel amongst others. SOTC’s customer focus, innovation and operational excellence has not only tapped the existing market potential but has also created new markets through innovative packages. Its vast array of holiday services is taking holidaying to an entirely new level. A new age innovative holiday maker, SOTC strives to make holidays a priority for every Indian. Through 
                investments in technology and with a strong online presence the company serves its customers through an omni-channel
                play.
            </p>
        </div>
        <div class="tab-pane fade" id="pills-awards" aria-labelledby="pills-awards-tab">
            <ul>
                <li><p>TRAVELCloud Travel Limited honoured the Top Agent Award 2017-18 by Singapore Airlines</p></li>
                <li><p>TRAVELCloud Travel wins the 2018 Zee Business Travel Award for Best Tour Package Provider</p></li>
                <li><p>TRAVELCloud Travel wins 2018 PATA Gold Award for ‘Marketing Media’ - Travel Advertisement Broadcast - “Holidays Bring You Closer”</p></li>
            </ul>
        </div>
        <div class="tab-pane fade" id="pills-ourvision" aria-labelledby="pills-ourvision-tab"><img src="~/aboutus/about-us-new.jpg" class="figure-img"/></div>
        <div class="tab-pane fade" id="pills-manifesto" aria-labelledby="pills-manifesto-tab"><img src="~/aboutus/manifesto.jpg" class="figure-img" /></div>
    </div>
</div>