@page
@model TravelCloud.Pages.AndamanPackageModel
@{
}

<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-img-overlay text-danger">Best seller</h4>
                    <img src="~/andamanpackage/Andaman_SRP2.jpg" class="img-thumbnail imgcustomsize"/>
                <div class="card-body">
                        <h2 class="text-wrap small">Magic Moments Andaman Honeymoon Special 4N/5D Domestic Customized Tour Package</h2>
                        <a class="text-danger" href="#">Customized Holidays</a>
                    <div class="card-footer">
                            <span class="text-danger">₹ 59,900</span>
                            <button class="btn btn-success">View Details</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-img-overlay text-danger">Best seller</h4>
                    <img src="~/andamanpackage/andamanhavelock1.jpg" class="img-thumbnail imgcustomsize"/>
                    <div class="card-body">
                        <h2 class="text-wrap small">Magic Moments Andaman Honeymoon Special 4N/5D Domestic Customized Tour Package</h2>
                        <a class="text-danger" href="#">Customized Holidays</a>
                        <div class="card-footer">
                            <span class="text-danger">₹ 59,900</span>
                            <button class="btn btn-success">View Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-img-overlay text-danger">Best seller</h4>
                    <img src="~/andamanpackage/andamanscuba.jpg" class="img-thumbnail imgcustomsize"/>
                    <div class="card-body">
                        <h2 class="text-wrap small">Magic Moments Andaman Honeymoon Special 4N/5D Domestic Customized Tour Package</h2>
                        <a class="text-danger" href="#">Customized Holidays</a>
                        <div class="card-footer">
                            <span class="text-danger">₹ 59,900</span>
                            <button class="btn btn-success">View Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>
