@page
@model TravelCloud.Pages.GujratPackageModel
@{
}

<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-img-overlay text-danger">Best seller</h4>                    
                    <img src="~/gujaratpackage/rannutsav.jpg" class="img-thumbnail imgcustomsize" />
                    <div class="card-body">
                        <h2 class="text-wrap small">Great Rann Utsav 2N/3D Domestic Customized Tour Package with Optional Flight</h2>
                        <a class="text-danger" href="#">Customized Holidays</a>
                    <div class="card-footer">
                            <span class="text-danger">₹ 26,899</span>
                            <button class="btn btn-success">View Details</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-img-overlay text-danger">Best seller</h4>
                    <img src="~/gujaratpackage/Gir.jpg" class="img-thumbnail imgcustomsize"/>
                    <div class="card-body">
                        <h2 class="text-wrap small">Garvi Gujrat Fully Loaded 7N/8D Domestic Group Tour Package /</h2>
                        <a class="text-danger" href="#">Customized Holidays</a>
                        <div class="card-footer">
                            <span class="text-danger">₹ 26,899</span>
                            <button class="btn btn-success">View Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-img-overlay text-danger">Best seller</h4>
                    <img src="~/gujaratpackage/Dwarka1.jpg" class="img-thumbnail imgcustomsize"/>
                    <div class="card-body">
                        <h2 class="text-wrap small">Dwarka and Somnath Tour 4N/5D Domestic Customize Tour Package with Optional Flight</h2>
                        <a class="text-danger" href="#">Customized Holidays</a>
                        <div class="card-footer">
                            <span class="text-danger">₹ 26,899</span>
                            <button class="btn btn-success">View Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>
