@page
@model TravelCloud.Pages.KeralaModel
@{
}

<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-img-overlay text-danger">Best seller</h4>
                    <img src="~/kerala/kerala12.jpg" class="img-thumbnail imgcustomsize"/>                   
                <div class="card-body">
                        <h2 class="text-wrap small">Kerala Delight 5N/6D Domestic Group Tour Package with Flight</h2>
                        <a class="text-danger" href="#">Customized Holidays</a>
                    <div class="card-footer">
                            <span class="text-danger">₹ 30,900</span>
                            <button class="btn btn-success">View Details</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-img-overlay text-danger">Best seller</h4>
                    <img src="~/Kerala/Cochin-3.jpg" class="img-thumbnail imgcustomsize"/>
                    <div class="card-body">
                        <h2 class="text-wrap small">Kerala - Quick Kochi 3N/4D Domestic Customized Tour Package with Flight</h2>
                        <a class="text-danger" href="#">Customized Holidays</a>
                        <div class="card-footer">
                            <span class="text-danger">₹ 30,900</span>
                            <button class="btn btn-success">View Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-img-overlay text-danger">Best seller</h4>
                    <img src="~/Kerala/thekkady-nearby-places-cover.jpg" class="img-thumbnail imgcustomsize"/>
                    <div class="card-body">
                        <h2 class="text-wrap small">Simply Kerala 3N/4D Domestic Customize Tour Package with Flight</h2>
                        <a class="text-danger" href="#">Customized Holidays</a>
                        <div class="card-footer">
                            <span class="text-danger">₹ 30,900</span>
                            <button class="btn btn-success">View Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>
